@use "global" as *;

.about-us__section {
  @include mq(md) {
   position: relative;
  }
}

.about-us__section::before {
  @include mq(md) {
    content: "";
    position: absolute;
    top:rem(674);
    right: calc(50% - min(48vw,rem(638)));
    background-image: url(../images/common/sango&isogin.png);
    background-size: cover;
    background-repeat: no-repeat;
    max-height: rem(181);
    height: 100%;
    max-width: rem(194);
    width: 100%;
    z-index: 10;
  }
}

.about-us__section-inner {
  position: relative;
}

.about-us__section-inner.inner {
  @include mq(md) {
    max-width: rem(1130);
  }
}

.about-us__img-area{
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  margin-top: rem(27);
  left: 0;
  right: 0;
  @include mq(md) {
    // top: rem(106);
    margin-top: rem(36);
    // left: 50%;
    // transform: translateX(-50%);
  }
}

.about-us__left-img {
  position: relative;
  left: 0;
  top: 0;
  width: max(34.1333vw, rem(128));;
  z-index: 15;
  overflow: hidden;
  aspect-ratio: 128 / 194;
  @include mq(md) {
    aspect-ratio: 399 / 606;
    max-width: rem(399);
    left: 0;
  }
}

.about-us__left-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-us__right-img {
  // position: absolute;
  // top: rem(26);
  margin-top: -48.5%;
  margin-left: auto;
  width: max(74.9333vw, rem(281));
  aspect-ratio: 281 / 186;
  @include mq(md) {
    aspect-ratio: 880 / 581;
    top: 13.4%;
    max-width: rem(880);
  }
}

.about-us__right-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 880 / 581;
  }
}

.about-us__contents{
  // position: relative;
  // z-index: 5;
  // padding-top: 62%;
  margin-top: rem(40);
  @include mq(md) {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(40);
    margin-top: 0;
    z-index: 20;
    top: 53%;
    transform: translateY(-50%);
    width: 100%;
    max-width: rem(840);
    right: 6%;
  }
}

// .about-us__contents::before{
//   @include mq(md) {
//     position: absolute;
//     content: "";
//     background-image: url(../images/common/about-us-pc1.jpg);
//     background-size: contain;
//     background-repeat: no-repeat;
//     width: rem(400);
//     height: rem(606);
//     top: 0;
//     left: 0;
//   }
// }

// .about-us__contents::after{
//   @include mq(md) {
//     position: absolute;
//     content: "";
//     background-image: url(../images/common/about-us-pc2.jpg);
//     background-size: contain;
//     background-repeat: no-repeat;
//     width: rem(880);
//     height: rem(581);
//     top: rem(80);
//     right: 0;
//     z-index: -1;
//   }
// }

.about-us__head{
  font-family: $en-font-family;
  font-size: rem(40);
  line-height: 1;
  color: #408F95;
  @include mq(md) {
    font-size: rem(80);
    line-height: 1.25;
    color: #fff;
    // padding-top: 0;
    // z-index: 10;
    // width: 37.1%;
    // margin-left: 14.5%;
    white-space: nowrap;
  }
}

.about-us__content{
  font-family: $ja-font-family;
  font-size: rem(16);
  line-height: 1.5;
  color: #0D2936;
  margin-top: rem(16);
  @include mq(md) {
    color: #fff;
    // width: 40.4%;
    margin-top: rem(33);
    // z-index: 10;
    // padding-left: rem(40);
    // padding-top: 0;
  }
}