@use 'global' as *;

.blog-section {
  @include mq(md) {
    position: relative;
    padding-top: rem(100);
  }
}

.blog-section::before {
  @include mq(md) {
    content: "";
    position: absolute;
    top: rem(24);
    left: calc(50% - min(49vw,rem(624)));
    background-image: url(../images/common/blog-bg-fish.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    max-width: rem(437);
    height: 100%;
    max-height: rem(201);
  }
}

.blog-section::after {
  @include mq(md) {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/common/bg-blog.jpg);
    background-size: cover;
    width: 100%;
    height: 61%;
    z-index: -1;

  }
}

.blog-section__inner.inner{
  padding-left: rem(20);
  padding-right: rem(20);
  @include mq(md) {
    padding-left: rem(25);
    padding-right: rem(25);
  }
}