@use 'global' as *;

.campaign__inner.inner {
  position: relative;
  max-width: rem(630);
  @include mq(md) {
    max-width: rem(1130);
  }
}

.campaign__button {
  margin-top: rem(33);
  text-align: center;
  @include mq(md) {
    margin-top: rem(72);
  }
}