@use 'global' as *;

.contact__section {
  position: relative;
}

.contact__section-inner.inner{
  @include mq(md) {
  //  padding: 0;
  }
}

// .contact-section::before {
//   content: "";
//   background-size: 100%;
//   display: block;
//   top: 0;
//   right: 0;
//   width: 100%;
//   padding-top: 20%;
// }


.contact__section-inner.inner{
  padding: 0 rem(40);
  @include mq(md) {
    padding: 0 rem(25);
  }
}

.contact__wrapper{
  @include mq(md) {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: rem(1080);
    height: 100%;
    background: #fff;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    position: relative;
  }
}

.contact__wrapper::after {
  position: absolute;
  content: "";
  background-image: url(/assets/images/common/contact-fish.svg);
  background-repeat: no-repeat;
    background-size: contain;
  max-width: rem(109);
  width: calc(109 / 375 * 100vw);
  top: 7%;
  right: calc(50% - min(50vw,170px));
  height: 100%;
  max-height: rem(50);

  @include mq(md) {
    top: -9.9%;
    right: calc(50% - min(50vw,670px));
    // display: inline-block;
    // width: 100%;
    width: calc(301 / 1440 * 100vw);
    max-width: rem(301);
    max-height: rem(138);
    // box-sizing: border-box;
  }
  }

.contact__wrapper-inner{
  @include mq(md) {
    display: flex;
    padding-top: rem(85);
    padding-bottom: rem(80);
    padding-left: rem(50);
    gap: rem(163);
    position: relative;
  }
}

.contact__contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mq(md) {
    width: 100%;
    max-width: rem(440);
    position: relative;
  }
}

.contact__contents::after {
  @include mq(md) {
    background-color: #408F95;
    content: "";
    height: 0.0625rem;
    position: absolute;
    right: -47.5%;
    top: rem(127);
    transform: rotate(90deg);
    width: 58%;
  }
}

.contact__logo {
  padding-bottom: rem(6);
  // overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  aspect-ratio: 174 / 65;
  @include mq(md) {
    aspect-ratio: 200 / 75;
    display: inline-block;
  }
}

.contact__logo::after {
  position: absolute;
  content: "";
  display: block;
  height: rem(1);
  width: 169.54%;
  background-color: #408F95;
  bottom: 0;
  @include mq(md) {
    display: none;
  }
}

.contact__logo img {
  width: 100%;
  max-width: rem(174);
  height: 100%;
  object-fit: cover;
  @include mq(md) {
    max-width: rem(200);
  }
}



.contact-section__info-area {
  @include mq(md) {
    display: flex;
    // flex-direction: column;
    position: relative;
    width: 100%;
    // gap: rem(21);
    padding-top: rem(31);
  }
}

.contact-section__info-area::before{
  @include mq(md) {
    position: absolute;
    content: "";
    display: block;
    height: rem(1);
    width: 100%;
    background-color: #408F95;
    top: rem(7);
  }
}

.contact__shop-info {
  padding-top: rem(16);
  text-align: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  white-space: nowrap;
  @include mq(md) {
    width: 35%;
    text-align: start;
    padding-top: 0;
    filter: initial;
  }
}

.contact__shop-info p {
  font-size: rem(16);
  font-family: $ja-font-family;
  line-height: 1.5;
  letter-spacing: 0;
}

.contact__shop-info p:not(:first-child){
  padding-top: rem(4);
}

.contact__map {
  margin-top: rem(13);
  aspect-ratio: 295 / 160;
  @include mq(md) {
    width: 70.2%;
    height: rem(148);
    padding-top: 0;
    padding-left: rem(23);
    margin-top: 0;
  }
}

.contact__map iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact__button-area {
  padding-top: rem(40);
  @include mq(md) {
    width: 100%;
    max-width: rem(315);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    flex-direction: column;
  }
}
