@use 'global' as *;

.mv {
  position: relative;
}

.mv__inner {
  height: 100vh;
  width: 100%;
}

.mv__header {
  position: absolute;
  color: #fff;
  z-index: 100;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mv__title {
  font-size: clamp(rem(40),6vw,rem(80));
  letter-spacing: 0.54em;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  white-space: nowrap;
  line-height: 1.2;
  text-indent: 0.54em;
  @include mq(md) {
    line-height: 1.25em;
  }
}

.mv__subtitle {
  text-align: center;
  font-family: $en-font-family;
  font-size: rem(20);
  }

.mv__swiper .swiper-slide{
  width: 100%;
  height: 100vh;
}

.mv__swiper .swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
 }

.mv__pagenation {
  display: block;
  margin-top: rem(8);
}