@use 'global' as *;

.price {
  background-color: #DDF0F1;
  padding: rem(86) 0;
  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(103);
  }
}

.price__inner{
  max-width: rem(530);
}

.price__contents {
  margin-top: rem(28.8);
  @include mq(md) {
    margin-top: rem(40);
    display: flex;
    flex-direction: row-reverse;
    gap: rem(93);
    width: 100%;
    max-height: rem(746);
  }
}

.price__content-img {
  position: relative;
  aspect-ratio: 345 / 227;
  @include mq(md) {
    aspect-ratio: 746 / 492;
    flex: 1 1 rem(492);
    height: rem(746);
  }
}

.price__content-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price__content-rate-sheet {
  margin-top: rem(38);
  @include mq(md) {
    margin-top: rem(0);
    flex: 1 1 rem(492);
    position: relative;
  }
}

.price__content-rate-sheet::after {
  @include mq(md) {
    content: "";
    position: absolute;
    bottom: -24%;
    left: calc(50% - min(23vw,rem(328)));
    background-image: url(../images/common/price-bg-fish.svg);
    background-size: contain;
    background-repeat: no-repeat;
    max-height: rem(201);
    height: 100%;
    max-width: rem(437);
    width: calc(437 / 1440 * 100vw);
    z-index: 5;
  }
}

.price__rate-sheet-title {
  font-size: rem(16);
  font-family: $ja-font-family;
  line-height: 1.5;
  color: #0D2936;
  text-align: left;
  position: relative;
}

.price__rate-sheet-title::after{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  background-color: #408F95;
  height: rem(1);
  bottom: rem(-5);
}

.price__rate-sheet-title:nth-of-type(n+2){
  margin-top: rem(38);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.price__content-rate-sheet dl {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price__content-rate-sheet dt{
  font-size: rem(14);
  color: #0D2936;
  margin-top: rem(11);
  width: 73%;
  @include mq(md) {
    font-size: rem(16);
    line-height: 1.5;
    margin-top: rem(8);
  }
}

.price__content-rate-sheet dl dt:first-child{
  margin-top: rem(14);
  @include mq(md) {
    margin-top: rem(12);
  }
}

.price__content-rate-sheet dd{
  font-size: rem(14);
  color: #0D2936;
  margin-top: rem(12);
  @include mq(md) {
    font-size: rem(16);
    line-height: 1.5;
    margin-top: rem(8);
  }
}

.price__content-rate-sheet dl dt:first-child + dd{
  margin-top: rem(14);
  @include mq(md) {
    margin-top: rem(12);
  }
}

.price__button {
  margin-top: rem(40);
  text-align: center;
  @include mq(md) {
    margin-top: rem(83);
  }
}