@use 'global' as *;

.price__section {
  background-color: #DDF0F1;
}

.price__contents {
  margin-top: rem(28.8);
  @include mq(md) {
    margin-top: rem(40);
    display: flex;
    flex-direction: row-reverse;
    gap: rem(93);
    width: 100%;
    max-height: rem(746);
  }
}

.price__img-area {
  position: relative;
  aspect-ratio: 345 / 227;
  @include mq(md) {
    aspect-ratio: 746 / 492;
    flex: 1 1 rem(492);
    height: rem(746);
  }
}

.price__img-area img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price__rate-sheet {
  margin-top: rem(38.4);
  @include mq(md) {
    margin-top: initial;
    flex: 1 1 rem(492);
    position: relative;
  }
}

.price__rate-sheet::after {
  @include mq(md) {
    content: "";
    position: absolute;
    bottom: -24%;
    left: calc(50% - min(23vw,rem(328)));
    background-image: url(../images/common/price-bg-fish.svg);
    background-size: contain;
    background-repeat: no-repeat;
    max-height: rem(201);
    height: 100%;
    max-width: rem(437);
    width: calc(437 / 1440 * 100vw);
    z-index: 5;
  }
}

.price__rate-sheet .price__table:not(:first-child){
  padding-top: rem(35.2);
  @include mq(md) {
    padding-top: rem(37);
  }
}

.price__table {
  width: 100%;
}

.price__table th:first-child {
  padding-top: 0;
}

.price__table th{
  font-size: rem(16);
  font-family: $ja-font-family;
  line-height: 1.5;
  color: #0D2936;
  text-align: left;
  position: relative;
}

.price__table th::after{
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  background-color: #408F95;
  height: rem(1);
  bottom: rem(-3);
}

.price__table td {
  font-size: rem(14);
  color: #0D2936;
  padding-top: rem(9);
  @include mq(md) {
    font-size: rem(16);
    line-height: 1;
    padding-top: rem(13.5);
  }
}

.price__table td + td{
  text-align: right;
}
