@use 'global' as *;

.section-interval {
  margin-top: rem(80);
  @include mq(md) {
    margin-top: rem(100);
  }
}

.section-interval--short {
  margin-top: rem(70);
}

.section-interval--blog {
  margin-top: rem(86);
  @include mq(md) {
    margin-top: rem(0);
  }
}

.section-interval--voice {
  margin-top: rem(90);
  @include mq(md) {
    margin-top: rem(146);
  }
}

.section__interval--campaign {
  margin-top: rem(45);
  @include mq(md) {
    margin-top: rem(120);
  }
}

.section-interval--about-us {
  margin-top: rem(88);
  @include mq(md) {
    margin-top: rem(144);
  }
}

.section-interval--information {
  margin-top: rem(75);
    @include mq(md) {
    margin-top: rem(166);
    }
}

.section-interval--price {
  margin-top: rem(84);
  @include mq(md) {
    margin-top: rem(145);
  }
}

.section-interval__contact {
  @include mq(md) {
    margin-top: rem(141);
  }
}

.section-interval__footer {
  margin-top: rem(106);
  padding-top: rem(48);
  padding-bottom: rem(56);
  @include mq(md) {
    margin-top: rem(160);
    padding-top: rem(80);
    padding-bottom: rem(80);
  }
}