@use 'global' as *;

.section-interval {
  padding: rem(80) 0;
  @include mq(md) {
    padding: rem(100) 0;
  }
}

.section-interval--blog {
  padding-top: rem(80);
  @include mq(md) {
    padding-top: rem(100);
  }
}
.section-interval--voice {
  padding-top: rem(80);
  @include mq(md) {
    padding-top: rem(143);
  }
}



.section__interval--campaign {
  padding-top: rem(45);
  @include mq(md) {
    padding-top: rem(120);
  }
}

.section-interval__about-us {
  padding-top: rem(88);
  @include mq(md) {
    padding-top: rem(140);
    padding-bottom: rem(363);
  }
}

.section__interval--information {
  // margin-top: rem(70);
  @include mq(md) {
    margin-top: rem(287);
  }
}

.section-interval__voice {
  padding-top: rem(89);
  padding-bottom: rem(80);
  @include mq(md) {
    padding: rem(140) 0;
  }
}
.section-interval__price {
  padding: rem(86) 0;
  @include mq(md) {
    padding: rem(100) 0;
  }
}

.section-interval__contact {
  padding-top: rem(80);
  padding-bottom: rem(100);
  @include mq(md) {
    padding-top: rem(140);
    padding-bottom: rem(149);
  }
}

.section-interval__footer {
  padding-top: rem(48);
  padding-bottom: rem(56);
  @include mq(md) {
    padding: rem(80) 0;
  }
}