@use 'global' as *;

.section-interval {
  padding: rem(80) 0;
  @include mq(md) {
    padding: rem(100) 0;
  }
}

.section-interval--blog {
  padding-top: rem(86);
  @include mq(md) {
    padding-top: rem(100);
  }
}

.section-interval--voice {
  padding-top: rem(88);
  padding-bottom: rem(83.2);
  @include mq(md) {
    padding-top: rem(143);
    padding-bottom: rem(145);
  }
}
// .section-interval__voice {
//   padding-top: rem(89);
//   padding-bottom: rem(80);
//   @include mq(md) {
//     padding: rem(140) 0;
//   }
// }

.section__interval--campaign {
  padding-top: rem(45);
  @include mq(md) {
    padding-top: rem(120);
  }
}

.section-interval--about-us {
  padding-top: rem(88);
  padding-bottom: rem(75);
  @include mq(md) {
    padding-top: rem(144);
    padding-bottom: rem(384);
  }
}

.section-interval.section-interval--information {
  padding-top: rem(83);
  padding-bottom: rem(82);
  @include mq(md) {
    padding-top: rem(102);
  }
}

.section-interval--price {
  padding: rem(86) 0;
  @include mq(md) {
    padding-top: rem(100);
    padding-bottom: rem(103);
  }
}

.section-interval__contact {
  padding-top: rem(80);
  padding-bottom: rem(104);
  @include mq(md) {
    padding-top: rem(141);
    padding-bottom: rem(149);
  }
}

.section-interval__footer {
  padding-top: rem(48);
  padding-bottom: rem(56);
  @include mq(md) {
    padding: rem(80) 0;
  }
}