@use 'global' as *;

.top-footer {
  margin-top: rem(106);
  @include mq(md) {
    margin-top: rem(159);
  }
}

.top-footer--sub-contact {
  margin-top: rem(147);
  @include mq(md) {
    margin-top: rem(168);
  }
}