@use 'global' as *;
.mv-swiper .swiper-slide{
  width: 100%;
  height: 100vh;
}

.mv-swiper .swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
 }


[class*=swiper]:focus {
  outline: none;
}

.slide-media,
.thumb-media {
  position: relative;
  overflow: hidden;
}

.slide-media img,
.thumb-media img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-campaign-button-prev, .swiper-campaign-button-next {
 
  @include mq(md) {
        content: "";
        width: rem(80);
        height: rem(80);
        position: absolute;
        border-radius: rem(9990);
        border: 1px solid #408F95;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
}
}
.swiper-campaign-button-prev {
  @include mq(md) {
    right: 16.46%;
  }
}

.swiper-campaign-button-next {
  @include mq(md) {
    right: 2.3%;
  }
}

.swiper-campaign-button-next::after {
  content: "";
  border: none;
  border-bottom: 1px solid #408F95;
  border-right: 2px solid #408F95;
  display: block;
  height: rem(6);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%) skew(45deg);
  width: rem(40);
}

.swiper-campaign-button-prev::after {
  content: "";
  border: none;
  border-bottom: 1px solid #408F95;
  border-left: 2px solid #408F95;
  display: block;
  height: rem(6);
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%) skew(-45deg);
  width: rem(40);
}

.swiper-button-disabled {
  pointer-events: none;
  opacity: 0;
}

.js-swiper-campaign {
  overflow: hidden;
  position: relative;
  margin-top: rem(30);
  padding-left: rem(2);
  padding-bottom: rem(9);
  @include mq(md) {
    margin-top: rem(43);
    margin-right: calc(50% - 50vw);
  }
}

.js-swiper-campaign.swiper-wrapper {
  overflow: hidden;
}

.swiper-controller {
  @include mq(md) {
    position: absolute;
    top: rem(40);
    right: 0;
    width: 100%;
  }
}

