@use 'global' as *;

.blog-cards {
  display: grid;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: rem(38);
  @include mq(md) {
    grid-template-columns: repeat(3, 1fr);
    gap: rem(40);
  }
}

.blog-cards--sub {
  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
  }
}
