@use 'global' as *;

.btn {
  position: relative;
  width: 100%;
  max-width: rem(202);
  background-color: #408F95;
  height: 100%;
  max-height: rem(54);
  outline: 1px solid #408F95;
  color: #FFF;
  padding: rem(16) rem(88) rem(16) rem(37);
  font-size: rem(14);
  font-family: $en-font-family;
  font-weight: 300;
  white-space: nowrap;
  transition:all .5s ease;
  display: inline-block;
}

.btn::after {
  content: '';
	position: absolute;
	bottom: rem(-4);
	right: rem(-4);
	width: 100%;
	height: 100%;
	background-color: transparent;
	border: 1px solid #408f95;
}

.btn p{
  display: inline-block;
  position: relative;
  padding-right:rem(88);
  z-index: 10;
  
}

.btn p span{
  text-transform: capitalize;
}

.btn p::before {
  content: "";
  display: block;
  position: absolute;
  top: 47%;
  right: rem(42);
  width: rem(40);
  height: rem(6);
  border: none;
  border-right: 2px solid #FFF;
  border-bottom: 1px solid #FFF;
  transform: translateY(-50%) skew(45deg);
  z-index: 10;
  transition:all .5s ease;
}

.btn:hover {
  color: #408F95;
}

.btn:hover p:before {
  border-right: 2px solid #408F95;
  border-bottom: 1px solid #408F95;
  z-index: 10;
}

.btn__mask::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: #FFF;
  width: 100%;
  height: 100%;
  transition: transform .6s cubic-bezier(0.8,0,0.2,1)0s;
  transform: scale(0,1);
  transform-origin: right top;
}

.btn__mask:hover:before {
  transform-origin: left top;
  transform: scale(1,1);
}