@use 'global' as *;

.campaign-card{
  width: rem(280);
  height: auto;
  background: #fff;
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  @include mq(md) {
    width: rem(334);
  }
}

.campaign-card--blog-archive {
  width: 100%;
}

.campaign-card:hover img {
  transform: scale(1.1);
}

.campaign-card__img{
  overflow: hidden;
  aspect-ratio: 280 / 188;
  @include mq(md) {
    aspect-ratio: 333 / 223;
  }
}

.campaign-card__img--blog-archive {
  aspect-ratio: 294/188;
  @include mq(md) {
    aspect-ratio: 294/188;
  }
}

.campaign-card__img--blog-archive + .campaign-card__img--blog-archive {
  @include mq(md) {
    margin-top: rem(40);
  }
}

.campaign-card__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}

.campaign-card__body{
  padding-top: rem(16);
  padding-bottom: rem(24);
  padding-left: rem(16);
  padding-right: rem(16);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  @include mq(md) {
    padding-top: rem(22);
    padding-bottom: rem(40);
  }
}

.campaign-card__body--blog-archive{
  padding-left: rem(23);
  padding-right: rem(23);
  @include mq(md) {
    padding-top: rem(18);
    padding-bottom: rem(24);
  }
}


.campaign-card__head{
  flex-grow: 1;
}

.campaign-card__tag {
  padding: rem(3) rem(11);
  border: 1px solid #408F95;
  display: inline-block;
  @include mq(md) {
    padding: rem(5) rem(14);
  }
}


.campaign-card__tag p {
  font-family: $ja-font-family;
  font-size: rem(12);
  font-weight: 400;
  line-height: 1.8;
  color: #408F95;
  white-space: nowrap;
}

.campaign-card__title {
  position: relative;
  display: -webkit-box;
  font-family: $ja-font-family;
  font-size: rem(16);
  font-weight: normal;
  color: #0D2936;
  line-height: 1.3;
  padding-bottom: rem(8);
  margin-top: rem(5);
  flex-grow: 1;
  @include mq(md) {
    margin-top: rem(7);
  }
}

.campaign-card__title--blog-archive {
  display: block;
  text-align: center;
  margin-top: rem(3);
  @include mq(md) {
    font-size: rem(16);
    margin-top: unset;
    padding-bottom: rem(9);
  }
}


.campaign-card__title--sub {
  @include mq(md) {
    font-size: rem(24);
    font-weight: 500;
    line-height: 1.45;
  }
}

.campaign-card__price-body {
  position: relative;
}

.campaign-card__price-body::before{
  position: absolute;
  content: "";
  background-color: #408F95;
  border-radius: rem(5);
  height: rem(1);
  width: 100%;
  top: 0;
  left: 0;

}

.campaign-card__price-title{
  margin-top: rem(12);
  font-family: $en-font-family;
  font-size: rem(14);
  line-height: 1.71;
  text-align: center;
  color: #0D2936;
  position: relative;
  @include mq(md) {
    font-size: rem(16);
    letter-spacing: 0.05em;
    margin-top: rem(17);
  }
}

.campaign-card__price-title--blog {
  @include mq(md) {
    font-size: rem(14);
    letter-spacing: 0;
    margin-top: rem(12);
  }
}

.campaign-card__price{
  display: flex;
  gap: rem(16);
  margin-top: rem(6);
  justify-content: center;
  align-items: baseline;
  @include mq(md) {
    gap: rem(27);
    margin-top: rem(4);
  }
}

.campaign-card__price--blog {
  @include mq(md) {
    gap: rem(20);
    margin-top: rem(5);
  }
}

.campaign-card__price-before{
  color: var(--green, #0D2936);
  font-family: "Lato",sans-serif;
  font-size: rem(20);
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-decoration: line-through rem(4) solid #C94800;
  @include mq(md) {
    font-size: rem(24);
  }
}

.campaign-card__price-before-blog{
  color: var(--green, #0D2936);
  font-family: "Lato",sans-serif;
  font-size: rem(20);
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-decoration: line-through rem(4) solid #C94800;
}

.campaign-card__price-after{
  color: #408F95;
  font-family: "Lato", sans-serif;
  font-size: rem(32);
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  @include mq(md) {
    font-size: rem(40);
  }
}

.campaign-card__price-after-blog {
  color: #408F95;
  font-family: "Lato", sans-serif;
  font-size: rem(32);
  font-style: normal;
  font-weight: 700;
  line-height: 1;
}

.campaign-card__text {
  margin-top: rem(24);
}

.campaign-card__contact-area {
  text-align: center;
  margin-top: rem(32);
}

.campaign-card__limit {
  color:#408F95;
  font-family: $ja-font-family;
  font-size: rem(16);
  font-weight: bold;
  line-height: 1.125;
  letter-spacing: 0.05em;
}

.campaign-card__contact {
  color:#408F95;
  font-family: $ja-font-family;
  font-size: rem(16);
  font-weight: normal;
  margin-top: rem(7);
}

.campaign-card__contact-area .btn {
  margin-top: rem(15);
}


