@use 'global' as *;

.campaign-cards {
  position: relative;
}

.campaign-cards::before {
  position: absolute;
  content: "";
  top: -1.1%;
  left: calc(50% - min(46vw,620px));
  background-image: url(../images/common/voice-bg-fish.svg);
  background-size: cover;
  display: block;
  width: 100%;
  max-width: rem(120);
  height: 100%;
  max-height: rem(55);
  z-index: -1;
  @include mq(md) {
    top: -3.6%;
    max-width: rem(301);
    max-height: rem(138);
  }
}


.campaign-cards__wrapper {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(36);
  }
}

.campaign-cards__pagenavi {
  margin-top: rem(80);
}