@use 'global' as *;

.cards-list {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(40);
  @include mq(md) {
    flex-direction: initial;
    row-gap: rem(80);
    column-gap: rem(40);
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;
  }
}

.cards-list__item {
  @include mq(md) {
    max-width: rem(520);
    width: 100%;
  }
}

