@use 'global' as *;

.faq-list__item {
  background-color: #fff;
  box-shadow: 0 0 rem(40) 0 rgba(0, 0, 0, .05);
}

.faq-list__item + .faq-list__item {
  margin-top: rem(39);
}

.faq-list__item-question {
  padding: rem(16) rem(0) rem(16) rem(16);
  position: relative;
  font-size: rem(16);
  // text-indent: rem(-20);
  cursor: pointer;
  color:#fff;
  font-family: $ja-font-family;
  font-size: rem(16);
  font-weight: 200;
  line-height: 1.5;
  letter-spacing: 0em;
  background-color: #408f95;
  @include mq(md){
      padding: rem(27) rem(60) rem(27) rem(42);
      font-size: rem(18);
      letter-spacing: 0.1em;
  }
}

.faq-list__item-question::before,
.faq-list__item-question::after {
  content: "";
  position: absolute;
  top: rem(27);
  right: rem(16);
  width: rem(27);
  height: rem(2);
  background: #fff;
  transition: .3s;
  @include mq(md){
      top: rem(38);
      width: rem(32);
      right: rem(41);
  }
}

.faq-list__item-question::after {
  transform: rotate(90deg);
}

.faq-list__item-question.is-open::after {
  transform: rotate(0deg);
}

.faq-list__item-answer {
  padding: rem(23) rem(16);
  display: block;
  color:#0d2936;
  font-family: $ja-font-family;
  font-size: rem(16);
  font-weight: 400;
  line-height: 1.44;
  letter-spacing: 0em;
  // text-indent: rem(-20);
  border: 1px solid #408f95;
  @include mq(md){
      padding: rem(40);
      // font-size: rem(18);
      margin-top: rem(14);
  }
}