@use 'global' as *;

.footer-lists {
  display: grid;
  grid-template-areas:
  "a c"
  "b d";
  gap: rem(32) rem(14);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  @include mq(md) {
    grid-template-areas:"a b c d";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: rem(60);
  }
}

.footer-lists__items--1{
  grid-area: a;
}
.footer-lists__items--2{
  grid-area: b;
}
.footer-lists__items--3{
  grid-area: c;
  @include mq(md) {
    margin-left: rem(-16);
  }
}
.footer-lists__items--4{
  grid-area: d;
  @include mq(md) {
    margin-left: rem(-32);
  }
}

.footer-lists__item + .footer-lists__item{
  margin-top: rem(40);
}
