@use 'global' as *;

.footer-lists {
  display: grid;
  grid-template-areas:
  "a c"
  "b d";
  gap: rem(32) rem(14);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  @include mq(md) {
    grid-template-areas:"a b c d";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: rem(60);
  }
}