@use 'global' as *;

.header {
  // position: relative;
  display: flex;
  height: max(10vh,rem(80));
  background: rgba(13, 41, 54, 0.68);
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  @include mq(md) {
    height: rem(90);
    justify-content: space-between;
  }
}

.header__inner {
  display: flex;
  height: inherit;
  align-items: center;
  justify-content: space-between;
}

.header__inner.inner {
  @include mq(md) {
    max-width: rem(1440);
    padding-left: 2.8%;
    padding-right: 2.8%;
  }
}

.header__title {
  height: inherit;
  padding-top: rem(20);
  width: rem(102);
  z-index: 9999;
  @include mq(md) {
    width: rem(133);
  }
}

.header__title-link {
  display: block;
  // height: rem(38);
  // width: rem(102);
  aspect-ratio: 102 / 38;
  @include mq(md) {
    aspect-ratio: 133 / 50;
    // max-width: rem(133);
    // height: rem(50);
  }
}

.header__title-link img {
width: 100%;
height: 100%;
object-fit: cover;
}



.header__pc-menu{
  display: none;
  @include mq(md) {
    display: block;
    height: inherit;
  }
}

.header__main-menu-list {
  @include mq(md) {
    display: flex;
    height: inherit;
  }
}

.header__main-menu-list li:not(:first-child) {
  padding-left: clamp(rem(8),1.3888888vw,rem(20));
  padding-right: clamp(rem(8),1.3888888vw,rem(20));
}

.header__main-menu-list li:nth-child(2) {
  padding-left: clamp(rem(8),2.777778vw,rem(40));
}

.header__main-menu-list li:last-child {
  padding-right: 0;
}

