@use 'global' as *;

.logo {
  width: rem(102);
  z-index: 9999;
  @include mq(md) {
    width: rem(133);
  }
}

.logo__link img {
  height: 100%;
}

.logo__footer {
  width: rem(120);
  @include mq(md) {
    width: rem(200);
  }
}