@use 'global' as *;

.main-list__items {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(1,rem(168));
  width: 100%;
}

.main-list__item {
  padding-top: rem(35);
  padding-left: rem(22);
  position: relative;
}

.main-list__item:before {
  content: "";
  position: absolute;
  background-image: url(../images/common/hitode.svg);
  display: block;
  width: rem(18);
  height: rem(18);
  top: rem(38);
  left: 0;
}

.main-list__item-link {
  color: #FFF;
  font-family: $ja-font-family;
  font-size: rem(16);
  font-weight: 700;
  line-height: 1.125;
}

.main-list__item-link br {
  display: block;
  content: "";
  margin-top: rem(-7);
}


.main-list__right-area {
  padding-left: rem(6);;
}