@use 'global' as *;

.pagination {
  display: flex;
  flex-flow: nowrap;
  justify-content: center;
  // gap: rem(12);
  margin-left: auto;
  margin-right: auto;
  padding: 0 rem(15);
  // width: 100vw;
  max-width: rem(444);
  }

  .pagination--blog-single {
    @include mq(md) {
      justify-content: unset;
      margin-left: 34.7%;
      margin-right: auto;
    }
  }

  .pagination li:nth-child(n + 3) {
    margin-left: rem(12);
  }

.pagination li:nth-child(2) {
  margin-left: rem(40);
}

.pagination li:last-child {
  margin-left: rem(40);
}

.pagination--blog-single li:last-child {
  margin-left: rem(81);
}

  .pagination li a,
  .pagination li span {
  display: block;
  color: #408F95;
  padding: 5px 13px;
  background-color: #fff;
  border: 1px solid #408F95;
  position: relative;
  }
  .pagination li span {
  color: #fff;
  background-color: #408F95;
  }
  .pagination li a:hover {
  color: #fff;
  background-color: #408F95;
  }
  .pagination li a.prev::before{
  font-family: 'Font Awesome 5 Free';
  content: "\f053";
  font-size: rem(16);
  // padding-right: 10px;
  font-weight: 900;
  text-align: center;
  }
  .pagination li a.next::after{
  font-family: 'Font Awesome 5 Free';
  content: "\f105";
  font-size: rem(16);
  // padding-left: 10px;
  font-weight: 900;
  }