@use 'global' as *;

.section-title {
  text-align: center;
  text-transform: capitalize;
}

.section-title__main {
  color: #0D2936;
  font-family: $en-font-family;
  font-size: rem(32);
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  @include mq(md) {
    font-size: rem(40);
  }
}

.section-title__main span {
  text-transform: lowercase;
}

.section-title__main::first-letter{
  color: #408f95;
}

.section-title__main--blog::first-letter{
  @include mq(md) {
    color: #fff;
  }
}

.section-title__sub {
  font-family: $ja-font-family;
  font-size: rem(12);
  line-height: 1.5;
  color: #408F95;
  margin-top: rem(9);
}

.section-title__main--blog {
  @include mq(md) {
    color: #fff;
  }
}

.section-title__main--contact {
  font-size: rem(80);
  @include mq(md) {
    font-size: rem(80);
  }
}

.section-title__sub--contact {
  margin-top: rem(-8);
}

.section-title__sub--lead {
  font-size: rem(14);
}

.section-title__sub--blog {
  @include mq(md) {
    color: #fff;
  }
}