@use 'global' as *;

.section-button {
  margin-top: rem(40);
  display: flex;
  justify-content: center;
  @include mq(md) {
    margin-top: rem(80);
  }
}

.section-button--campaign{
  margin-top: rem(30);
  @include mq(md) {
    margin-top: rem(72);
  }
}

.section-button--about {
  margin-top: rem(50);
  @include mq(md) {
    margin-top: rem(40);
    position: relative;
    z-index: 10;
    // margin-left: calc(50% + rem(55.6));
}
  }

.section-button--info {
  margin-top: rem(42);
  @include mq(md) {
    margin-top: rem(40);
  }
}

.section-button--price {
  @include mq(md) {
    margin-top: rem(83);
  }
}
.section-button--contact {
  @include mq(md) {
    margin-top: rem(40);
  }
}