@use 'global' as *;

.sidebar-campaign-cards {
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(27);
  }
}

.sidebar-campaign-cards .campaign-card--blog-archive + .campaign-card--blog-archive {
  margin-top: rem(40);
}