@use 'global' as *;

.sp-menu {
  display: block;
  @include mq(md) {
    display: none;
  }
}

.sp-menu__main {
  display: flex;
  justify-content: center;
}

.sp-menu__toggle {
  position: absolute;
  top: -200px;
}

.sp-menu__toggle:checked ~ .sp-menu__wrapper {
//  display: block;
 right: 0;
}

.sp-menu__toggle:focus-visible ~ .sp-menu__hamburger {
  box-shadow: 1px 1px 2px gray;
}

.sp-menu__toggle:checked ~ .sp-menu__hamburger {
  .sp-menu__hamburger-line{
      background: transparent;
  }
  .sp-menu__hamburger-line::before{
      top: 50%;
      transform: rotate(37deg);
      transition: all 0.5s ease;
    }
  .sp-menu__hamburger-line::after{
      top: 50%;
      transform: rotate(-37deg);
      transition: all 0.5s ease;
    }
}

.sp-menu__hamburger {
  max-width: rem(32);
  width: 100%;
  height: rem(24);
  position: absolute;
  top: rem(26);
  right: rem(15);
  z-index: 9999;
}

.sp-menu__hamburger-line {
   display: block;
   width: rem(32);
    height: rem(2);
    background: #fff;
    position: absolute;
    top: rem(14);
    transform: translateY(-50%);
    transition: all 0.3s;
}

.sp-menu__hamburger-line::before {
  content: '';
  position: absolute;
  top: rem(-12);
  width: 100%;
  height: rem(2);
  background: #fff;
  transition: all 0.3s;
}

.sp-menu__hamburger-line::after {
  content: '';
  position: absolute;
  bottom: rem(-12);
  width: 100%;
  height: rem(2);
  background: #fff;
  transition: all 0.3s;
}

.sp-menu__wrapper {
  // display: none;
  overflow-y: scroll;
  // height: calc(100vh - rem(80));
  height: 100vh;
  position: absolute;
  padding-top: rem(67);
  top: 0;
  right: -120%;
  z-index: 900;
  width: 100%;
  background: #408F95;
  transition: all 0.6s;
}