@use 'global' as *;

.sub-mv {
  position: relative;
}

.sub-mv__header {
  position: absolute;
  z-index: 100;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -50%);
  @include mq(md) {
    top: 56%;
  }
}

.sub-mv__title {
  color: #fff;
  font-family: "Lato",sans-serif;;
  font-size: rem(40);
  font-weight: $normal;
  line-height: 1.25;
  white-space: nowrap;
  @include mq(md) {
    font-size: rem(80);
  }
}

.sub-mv__img {
  display: block;
  height: 69vh;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  @include mq(md) {
    height: 71.3vh;
  }
}

.sub-mv__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sub-mv__pagenation {
  margin-top: rem(8);
  color:#0D2936;
  font-family: $ja-font-family;
  font-size: rem(14);
  font-weight: $normal;
  line-height: 1.5;
  letter-spacing: 0.05em;
}