@use 'global' as *;

.sub-list__item {
  padding-left: rem(22);
  padding-top: rem(19);
}

.sub-list__item li {
  padding-top: rem(17);
}

.sub-list__item li:first-child {
  padding-top: 0;
}

.sub-list__items a {
  color: #FFF;
    font-family: "Noto Sans JP", sans-serif;
    font-size: rem(16);
    font-weight: 400;
    line-height: 1.125;
    white-space: nowrap;
    display: block;
}