@use 'global' as *;

.sub-list__item {
  padding-left: rem(22);
  padding-top: rem(18);
}

.sub-list__item li {
  padding-top: rem(24);
}

.sub-list__item li:first-child {
  padding-top: 0;
}

.sub-list__items a {
  color: #FFF;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1rem;
    font-weight: initial;
    line-height: 1.125;
}