@use 'global' as *;


.sub-price__inner {
  max-width: rem(530);
}

.sub-price__block-wrapper {
  position: relative;
}

// .sub-price__block-wrapper::before {
//   position: absolute;
//   content: "";
//   top: -2.1%;
//   left: calc(50% - min(46vw,265px));
//   background-image: url(../images/common/voice-bg-fish.svg);
//   background-size: cover;
//   display: block;
//   width: 100%;
//   max-width: rem(120);
//   height: 100%;
//   max-height: rem(55);
//   z-index: -1;
//   @include mq(md) {
//     top: -6.4%;
//     max-width: rem(301);
//     max-height: rem(138);
//     left: calc(50% - min(46vw,620px));
//   }
// }

.sub-price__block {
  @include mq(md) {
    display: grid;
    grid-template-columns: rem(200) 1fr;
    width: 100%;
    max-width: rem(700);
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
}

.sub-price__block + .sub-price__block {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(80);
  }
}

.sub-price__block-head-area {
  background-color: #408f95;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row-reverse;
  @include mq(md) {
    height: 100%;
    flex-direction: column;
  }
}

.sub-price__block-head {
      color: #fff;
      display: block;
      font-family: "Noto Sans JP", sans-serif;
      font-size: 1rem;
      font-weight: 700;
      height: inherit;
      letter-spacing: 0;
      line-height: 1.5;
      height: rem(24);
      margin-left: rem(10);
      @include mq(md) {
        margin-left: unset;
      }
}

.sub-price__block-head-icon {
  display: block;
  width: rem(24);
  height: rem(24);
  @include mq(md) {
    width: rem(64);
    height: rem(64);
    margin-top: rem(3);
  }
}

.sub-price__block-head-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sub-price__content {
  display: flex;
  border: 1px solid #408f95;
  border-top: none;
  height: rem(64);
  @include mq(md) {
    height: rem(60);
  }
}

.sub-price__content:first-child {
  @include mq(md) {
    border-top: 1px solid #408f95;
  }
}

.sub-price__content + .sub-price__content {
  height: rem(59);
}

.sub-price__menu {
  color:#0D2936;
  font-family: $ja-font-family;
  font-size: rem(16);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: center;
  border-right:1px solid #408f95;
  flex: 1 1 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include mq(md) {
    justify-content: flex-start;
    padding-left: rem(14);
    flex: 1 1 65%;
  }
}

.sub-price__price {
  color:#0D2936;
  font-family: $ja-font-family;
  font-size: rem(16);
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: center;
  flex: 1 1 30%;
  text-align: center;
  padding-top: rem(18);
  @include mq(md) {
    text-align: right;
    padding-right: rem(15);
  }
}