@use 'global' as *;

.thanks {
position: relative;
margin-top: rem(52);
  @include mq(md) {
    margin-top: rem(150);
  }
}

// .thanks::before {
//   position: absolute;
//   content: "";
//   top: rem(-27);
//   left: calc(50% - min(46vw,265px));
//   background-image: url(../images/common/voice-bg-fish.svg);
//   background-size: cover;
//   background-repeat: no-repeat;
//   display: block;
//   width: rem(120);
//   height: rem(55);
//   z-index: -1;
//   @include mq(md) {
//     top: rem(-70);
//     width: rem(301);
//     height: rem(138);
//     left: calc(50% - min(46vw,620px));
//   }
// }

.thanks__message {
  text-align: center;
  color:#0D2936;
  font-family: $ja-font-family;
  font-size: rem(16);
  font-weight: 400;
  line-height: 1.125;
  letter-spacing: 0em;
}

.thanks__message + .thanks__message {
  margin-top: rem(40);
  line-height: 1.42;
}
