@use 'global' as *;

.voice-cards {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(40);
  @include mq(md) {
    flex-direction: initial;
    gap: rem(40);
    grid-template-columns: repeat(2,1fr);
  }
}
